
/* Theming */
.t-white.check-options input[type="checkbox"]:checked + label {
    background: #222;
    border-color: #333;
    color: #fff;
}
.high-contrast .check-options input[type="checkbox"]:checked + label:before {
		background:#eee;
}
.t-white.check-options input[type="checkbox"]:checked + label:before {
    transform: scale(1);
}
.t-white.check-options input[type="checkbox"]:active + label {
    background: #444;
    color: #fff;
}
.t-white.check-options input[type="checkbox"]:focus + label {
    background: #444;
    color: #fff;
}

.t-white .check-options-label {
    background: #eee;
    border-color: #111;
    color: #111;
}
.t-white .check-options-label:hover {
    background: #333;
    color: #fff;
}

.check-options-label:before {
    background: url("../img/check_tick.svg") no-repeat 0 0;
    content: "";
    display: block;
    height: 1em;
    left: 1em;
    /* This is a bit of a magic number here, you could vertically center any number of ways */
    top:42%;
    position: absolute;
    transform: scale(0);
    z-index:2;
    transition: transform 0.4s cubic-bezier(.59,-0.44,.4,1.47);
    width: 1.35em;
}
.check-options-label {
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
    @media all and (min-width:40em) {
        padding: 3em;
    }
}

/* Qualifier, since technique requires
	adjacent selector,
		we use sibling to cut the mustard
	*/
.check-options-title ~ .check-options-input {
    left: -9999px;
    opacity: 0;
    position: absolute;
    visibility: none;
}

.high-contrast .check-options-label:before {
	border:1px solid #fff;
	background:#222;
	transition:background 0.3s ease;
}
