@import "partials/select-box";
@import "partials/range-input";
@import "partials/radio-switch";
@import "partials/spinner-horizontal";
@import "partials/spinner-vertical";

$brownbg: #291C15;
body {
    background: $brownbg;
    color: #fff;
    font-family: "effra",sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

h1 {

    font-size: 3em;
    font-weight: 300;
    line-height: 1.1;

}
.container {

    margin: 0 auto;
    max-width: 650px;

}


