@import "partials/select-box";
@import "partials/range-input";
@import "partials/radio-switch";

$brownbg: #291C15;
body {
    background: $brownbg;
    color: #fff;
    font-family: "effra",sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

h1 {

    font-size: 3em;
    font-weight: 300;
    line-height: 1.1;

}
.container {

    margin: 0 auto;
    max-width: 650px;

}


//spinner horizontal

.spinner-horizontal {
    max-width:15em;
}
.spinner-horizontal:after {
    clear:both;
    content: "";
    display: table;
}
.spinner-horizontal-list {

}
.btn-spinner {
    display:block;
    padding:0.75em 1em;
    color:#fff;
    font-size:1em;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    background:#180f0b;
    transition: background 0.4s ease;
    &:hover {
        background: #20120a;
    }
}
.btn-spinner-left {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.btn-spinner-right {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.spinner-input {

    background: none;
    border: none;
    background:#fff;
    padding:0.7em 0;
    text-align:center;
    font-size:1em;
    line-height:1.5;
    width: 100%;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.spinner-horizontal-list li {
    float:left;
    list-style: none;
}
.spinner-horizontal-list li:nth-of-type(1) {
    width: 30%
}
.spinner-horizontal-list li:nth-of-type(2){
    width: 40%
}
.spinner-horizontal-list li:nth-of-type(3){
    width: 30%;
}