//password switcher
.password-switcher input::-ms-clear,
.password-switcher input::-ms-reveal {
    display: none;
}

.t-white .password-input {
    background: #fff;
    border: 1px solid #ddd;
}
.t-white .btn-password-switch {
    background: url("../img/icon_view.svg") no-repeat 0 50%;
}

.password-wrapper {
    margin: 1.5em 0 0 0;
    position: relative;
}
.password-input {
    background: none;
    border: none;
    font-size: 1em;
    padding: 1em 3em 1em 1em;
    width: 100%;
    //outline:thin dotted;


}
.password-input:focus {
	outline-offset:5px;
}
.password-input:hover,
.password-input:focus,
.password-input:active {
	font-size: 1em;
}

.btn-password-switch {
    display: block;
    height: 3.25em;
    overflow: hidden;
    position: absolute;
    right: 1.5em;
    top: 0.75em; //can't be 50% because of IE8
    width: 2.5em;
    transition: opacity 0.3s ease;
    cursor:pointer;

}
.btn-password-switch:focus {
	outline:thin dotted;
	outline-offset:5px;
}
.btn-password-switch:hover {
	opacity:0.8;
}
//is revealing
.btn-password-switch.is-active {
    background-position: -28px 50%;
}
