//password switcher
/* Reset */
.password-switcher input::-ms-clear,
.password-switcher input::-ms-reveal {
    display: none;
}

.t-neutral .password-switcher__input {
    background: #fff;
    border: 1px solid #ddd;
}
.t-neutral .password-switcher__button {
    background: url("../img/icon_view.svg") no-repeat 0 50%;
}

/* Component */
.password-switcher__inner {
    margin: 1.5em 0 0 0;
    position: relative;
}
.password-switcher__input {
    background: none;
    border: none;
    font-size: 1em;
    padding: 1em 3em 1em 1em;
    width: 100%;
}
.password-switcher__input:focus {
	outline-offset:5px;
}
.password-switcher__input:hover,
.password-switcher__input:focus,
.password-switcher__input:active {
	font-size: 1em;
}

.password-switcher__button {
    display: block;
    height: 3.25em;
    overflow: hidden;
    position: absolute;
    right: 1.5em;
    top: 0.75em;
    width: 2.5em;
    transition: opacity 0.3s ease;
    cursor:pointer;

}
.password-switcher__button:focus {
	outline:thin dotted;
	outline-offset:5px;
}
.password-switcher__button:hover {
	opacity:0.8;
}
//is revealing
.password-switcher__button.is-active {
    background-position: -28px 50%;
}
