//segmented control
$controlBgColor: #180f0b;
$controlBgHoverColor: #20120a;
$controlKeyboardFocus: #79472b;
$controlTextColor: #fff;

/* Theming */
.t-white .segment-switch-label {
	border-bottom: 1px solid #180f0b;
    border-top: 1px solid #180f0b;
	background: #eee;
	color: #111;
}

/* If the current object is clicked/tapped */
.t-white .segmented-control input[type="radio"]:checked + label {
    background: #180f0b;
    border-color: #20120a;
    color: #fff;
}

/* If the control has keyboard focus */
.t-white .segmented-control input[type="radio"]:focus + label {
    background: #444;
    color: #fff;
    outline:thin dotted;
}
.t-white .segmented-control input[type="radio"]:active + label {
    color: #fff;
}
.t-white .segment-switch-label {
	border-color: #111;
}

/* Resets */
.radio-fieldset {
    border: none;
}

/* layout */
.l-grid-33 {
	float:left;
	width: 33.333%;
}
/* Component */
.segment-switch-label {
	box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: "Lato", sans-serif;
    padding: 0.5em 0.75em;
    text-align: center;
    text-decoration: none;
    transition: background 0.4s ease, color 0.4s ease;
}
@media all and (min-width: 40em) {
	.segment-switch-label {
		padding: 0.75em;
	}
}

//we'll use a sibling selector here to make sure that if we're going to hide the input, it'll only be on browsers that can handle the styling
.segmented-control-label ~ .segment-switch-input {
    left: -9999px;
    opacity: 0;
    position: absolute;
    visibility: none;
}

.segment-start {
	border: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
}
.segment-end {
	border:1px solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
}