//
// theming variables
//
$c-select-box-background-color: #eee;
$c-select-box-text-color: #697070;
$c-select-box-background-color-focus-active: rgba(249, 241, 155, 0.5);
$c-select-box-option-text-color: #111;
$c-select-box-arrow-box-background-color: #222;
$c-select-box-arrow-caret-color: #fff;

//
// theming
//

.t-neutral .select-box-svg__inner {
     background-color: $c-select-box-background-color;
}
.t-neutral .select-box-svg__inner select option {
    color: $c-select-box-option-text-color;
}
.t-neutral .select-box-svg__inner select {
    color: $c-select-box-text-color;

    &:active,
    &:focus {
        background-color: $c-select-box-background-color-focus-active;
    }
}
.t-neutral .icon--arrow .icon__box {
   fill: $c-select-box-arrow-box-background-color;
}
.t-neutral .icon--arrow .icon__caret {
    fill: $c-select-box-arrow-caret-color;
}

//
// component
//

.select-box-svg__inner input::-ms-clear,
.select-box-svg__inner input::-ms-reveal {
    display:none;
}

.select-box-svg__label {
	display:block;
	margin:1em 0 0.5em;
    color: #555;
}

.select-box-svg__inner {
    border: none;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: background-color 0.4s ease-in-out;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}

.icon--arrow {
    z-index:1;
    position:absolute;
    right:0;
    bottom:0;
    display:block;
    padding:0;

}


.select-box-svg__inner select option {
    display:block;
    line-height:1.5;
    font-size:1em;
    border:none;
}

.select-box-svg__inner select {
    position:relative;
    z-index:2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-color:none;
    background-image: none;
    border: none;
    box-shadow: none;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 16px;
    display: block;
    transition: background 0.4s ease;

    &:hover {
        cursor: pointer;
    }

    @media screen and (-ms-high-contrast: active) {
     /* All high contrast styling rules */
        width: 100%;
    }
    @media screen and (-ms-high-contrast: black-on-white) {
     width: 100%;
    }
    @media screen and (-ms-high-contrast: white-on-black) {
      width: 100%;
    }
}
.select-box-svg__label ~ .select-box-svg__inner select {
    width: 115%;
}


//requires a script to detect a change
.high-contrast-mode .select-box-svg__inner select {

    width: 100%;
}


