/*****************
  * Component: Select box with background image
  */

$c-background-image: "../img/arrow_down";
$c-background-image-svg: $c-background-image + ".svg";
$c-background-image-png: $c-background-image + ".png";

$c-select-box-background-color: #fff;
$c-select-box-option-text-color: #111;
$c-select-box-border: 1px solid #2a1244;
$c-select-box-background-color-focus-active: rgba(249, 241, 155, 0.5);

//Select Box theming
//
.t-neutral .select-box__inner {
    background: $c-select-box-background-color url($c-background-image-svg) no-repeat 97% 50%;
    border: $c-select-box-border;
}
.no-svg .t-neutral .select-box__inner {
    background-image: url($c-background-image-png);
}
.t-neutral .select-box__inner select option {
    color: $c-select-box-option-text-color;
}
.t-neutral .select-box__inner select {

    color: #697070;

    &:active,
    &:focus {
        background-color: $c-select-box-background-color-focus-active; //this is transparent so you can still see the arrow when it hilights
    }
}

//
//
//select box component
//
//
.select-box__inner input::-ms-clear,
.select-box__inner input::-ms-reveal {
    display:none;
}

.select-box__label {
	display:block;
	margin:1em 0;
}

//needs to house the select in order to work
.select-box__inner {
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: background-color 0.4s ease-in-out;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}

.select-box__inner select option {
    padding:0.5em;
    line-height:1.5;
    font-size:1em;
}
.select-box__inner select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 1em;
    transition: background 0.4s ease;
    width: 115%;
    &:hover {
        cursor: pointer;
    }

    @media screen and (-ms-high-contrast: active) {
     /* All high contrast styling rules */
        width: 100%;
        //appearance: menu-list;
    }
    @media screen and (-ms-high-contrast: black-on-white) {
        width: 100%;
    }
    @media screen and (-ms-high-contrast: white-on-black) {
      width: 100%;
    }
}
//requires a script to detect a change
.high-contrast-mode .select-box__inner select {
    width: 100%;
}


