//vertical spinner control
//spinner horizontal
$spinnerBtnColor:#222;
$spinnerBtnHover:#555;
$spinnerVerticalBtnRadius: 5px;
$spinnerBtnTextColor:#fff;

//theming
//theming
.t-white .btn-vertical-spinner {
    background: $spinnerBtnColor;
    color: $spinnerBtnTextColor;
    &:hover,
    &:focus,
    &:active {
        background: $spinnerBtnHover;
    }
}
.t-white .vertical-spinner-input {
    background:#eee;
}
.spinner-vertical {
	max-width:5em;
}
.spinner-vertical-label {
    display:block;
    text-align:center;
    width:100%;
}
.vertical-spinner-input {

	border-radius:0;
    background: none;
    border: none;
    padding:1.5em 1em 1.5em 1em;
    text-align:center;
    font-size:1em;
    width:100%;

    &:hover,
    &:focus,
    &:active {
    	font-size:1em;
    }
}
.btn-vertical-spinner {
    cursor:pointer;
	text-align:center;
	padding:2em 1em;
	width:100%;
	text-decoration:none;
	display: block;
	transition: background 0.4s ease;
}
.btn-vertical-spinner-top {

	border-top-left-radius:$spinnerVerticalBtnRadius;
	border-top-right-radius:$spinnerVerticalBtnRadius;
}
.btn-vertical-spinner-bottom {
	border-bottom-left-radius:$spinnerVerticalBtnRadius;
	border-bottom-right-radius:$spinnerVerticalBtnRadius;
}
