html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
cite,
code,
em,
img,
small,
strong,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li {
	list-style: none;
}

button {
	border: none;
	background: none;
}

input {
	border: none;
	background: none;
	-webkit-apperance: none;
	border-radius: 0;
}

fieldset {
	border: none;
}

input:focus,
input:hover,
select:focus,
select:hover {
	font-size: 1em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	list-style: disc;
}

ul ul {
	padding-left: 1em;
}

ul ul > li {
	list-style: circle;
}

ol {
	list-style: decimal;
}

ol ol {
	padding-left: 1em;
}

ol ol > li {
	list-style: lower-alpha;
}

nav > ul {
	list-style: none;
}

* {
	box-sizing: border-box;
}

fieldset,
legend {
	border: none;
	margin: 0;
	padding: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	margin: 0;
}

.select-box-wrapper input::-ms-clear,
.select-box-wrapper input::-ms-reveal {
	display: none;
}

.select-box-label {
	display: block;
	margin: 1em 0;
}

.select-box-wrapper {
	background: #fff url("../img/arrow_down.svg") no-repeat 97% 50%;
	border: 1px solid #2a1244;
	border-radius: 5px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1em;
	margin: 0;
	overflow: hidden;
	position: relative;
	-webkit-transition: background-color 0.4s ease-in-out;
	        transition: background-color 0.4s ease-in-out;
	width: 100%;
}

.select-box-wrapper:hover,
.select-box-wrapper:focus,
.select-box-wrapper:active {
	cursor: pointer;
}

.no-svg .select-box-wrapper {
	background-image: url("../img/arrow_down.png");
}

.select-box-wrapper select option {
	color: #111;
	padding: 0.5em;
	line-height: 1.5;
	font-size: 1em;
}

.select-box-wrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
	color: #697070;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	padding: 1em;
	-webkit-transition: background 0.4s ease;
	        transition: background 0.4s ease;
	width: 115%;
}

.select-box-wrapper select:hover {
	cursor: pointer;
}

.select-box-wrapper select:active,
.select-box-wrapper select:focus {
	background-color: rgba(249, 241, 155, 0.5);
}

.high-contrast-mode .select-box-wrapper select {
	width: 100%;
}

.select-box-wrapper-svg input::-ms-clear,
.select-box-wrapper-svg input::-ms-reveal {
	display: none;
}

.select-box-label {
	display: block;
	margin: 1em 0;
}

.select-box-wrapper-svg {
	background-color: #fff;
	border: 1px solid #2a1244;
	border-radius: 5px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1em;
	margin: 0;
	overflow: hidden;
	position: relative;
	-webkit-transition: background-color 0.4s ease-in-out;
	        transition: background-color 0.4s ease-in-out;
	width: 100%;
}

.select-box-wrapper-svg:hover,
.select-box-wrapper-svg:focus,
.select-box-wrapper-svg:active {
	cursor: pointer;
}

.svg-arrow {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	width: 82px;
	height: 75px;
}

.svg-arrow-box {
	fill: #fff;
}

.svg-arrow-icon {
	fill: #000;
}

.no-svg .select-box-wrapper-svg {
	background-image: url("../img/arrow_down.png");
}

.select-box-wrapper-svg select option {
	color: #111;
	padding: 0.5em;
	line-height: 1.5;
	font-size: 1em;
}

.select-box-wrapper-svg select {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
	color: #697070;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	padding: 1em;
	-webkit-transition: background 0.4s ease;
	        transition: background 0.4s ease;
	width: 115%;
}

.select-box-wrapper-svg select:hover {
	cursor: pointer;
}

.select-box-wrapper-svg select:active,
.select-box-wrapper-svg select:focus {
	background-color: rgba(249, 241, 155, 0.5);
}

.high-contrast-mode .select-box-wrapper-svg select {
	width: 100%;
}

.form-range input[type="range"] {
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	font-size: 1em;
	padding: 0;
	background: #eee;
	margin: 0 0 0 -0.25em; /* Hides the slider so that custom slider can be made */
	width: 100%;
	height: 10px;
	border-radius: 5px; /* Specific width is required for Firefox. */
}

.form-range input[type="range"]:focus {
	outline: 0;
}

.form-range input[type="range"]:focus::-webkit-slider-runnable-track {
	background-color: rgba(249, 241, 155, 0.5);
}

.form-range input[type="range"]:focus::-moz-range-track {
	background-color: rgba(249, 241, 155, 0.5);
}

.form-range input[type="range"]:focus::-webkit-slider-thumb {
	background-color: #f9f19b;
}

.form-range input[type="range"]:focus::-moz-range-thumb {
	background-color: #f9f19b;
}

.form-range input[type="range"]:focus::-ms-thumb {
	background-color: #f9f19b;
}

.form-range input[type="range"]:hover::-moz-range-thumb {
	height: 2em;
	width: 2em;
}

.form-range input[type="range"]:focus::-moz-range-thumb {
	height: 2em;
	width: 2em;
}

.form-range input[type="range"]:hover::-moz-range-track {
	height: 10px;
}

.range-label {
	margin: 1em 0;
	display: block;
}

.form-range input[type="text"] {
	background: #fff;
	padding: 0.5em;
	font-size: 1em;
}

.form-range input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background-color: #eee;
	border-radius: 5px;
	-webkit-transition: background 0.3s ease;
	        transition: background 0.3s ease;
}

.form-range input[type="range"]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background-color: #eee;
	border-radius: 5px;
	transition: background 0.3s ease;
}

.form-range input[type="range"]::-ms-track {
	cursor: pointer;
	border-top: 16px;
	border-bottom: 17px;
	border-left: 10px;
	border-right: 10px;
	border-color: transparent;
	border-style: solid;
	height: 10px;
	background: transparent;
	color: transparent;
	transition: background 0.3s ease;
}

.form-range input[type="range"]::-ms-fill-lower {
	background-color: #017AFD;
	border-radius: 5px;
}

.form-range input[type="range"]:focus::-ms-fill-lower {
	background-color: #017AFD;
}

.form-range input[type="range"]::-ms-fill-upper {
	background-color: #a9acb1;
	border-radius: 5px;
}

.form-range input[type="range"]:focus::-ms-fill-upper {
	background-color: #a9acb1;
}

.form-range input[type="range"]::-ms-tooltip {
	display: none;
}

/* Special styling for WebKit/Blink */

.form-range input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 2em;
	width: 2em;
	border-radius: 100%;
	background-color: #fff;
	cursor: pointer;
	margin-top: -10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	outline: none;
	border: none;
	-webkit-transition: background 0.3s ease;
	        transition: background 0.3s ease;
}

/* All the same stuff for Firefox */

.form-range input[type="range"]::-moz-range-thumb {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	height: 2em;
	width: 2em;
	border-radius: 100%;
	background: #fff;
	cursor: pointer;
	outline: none;
	border: none;
	transition: background 0.3s ease;
}

/* All the same stuff for IE */

.form-range input[type="range"]::-ms-thumb {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	height: 2em;
	width: 2em;
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
	border: none;
	margin: 10px;
	transition: background 0.3s ease;
}

.radio-container {
	background-color: #fff;
	border-radius: 4em;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	display: block;
	height: 3.5em;
	margin: 0em 0 0 3em;
	position: relative;
	width: 6em;
}

.radio-container:after {
	clear: both;
	content: "";
	display: table;
}

.radio-switch-label {
	color: #fff;
	position: absolute;
	top: 0;
	cursor: pointer;
	display: block;
	padding: 1em;
}

.radio-label-left {
	left: -60%;
	text-align: right;
}

.radio-label-right {
	right: -60%;
	text-align: left;
}

.radio-switch-toggle {
	background: #593420;
	border: 1px solid #593420;
	border-radius: 50%;
	bottom: 0;
	cursor: pointer;
	height: 3.5em;
	position: absolute;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition: -webkit-transform 0.2s ease, background 0.4s ease;
	        transition: transform 0.2s ease, background 0.4s ease;
	width: 3.5em;
	z-index: 1;
}

.radio-switch {
	bottom: 0;
	cursor: pointer;
	height: 4em;
	left: 0;
	opacity: 0;
	position: absolute;
	width: 7em;
	z-index: 2;
}

.radio-switch:active ~ .radio-switch-toggle {
	background-color: #97664c;
	border: 1px solid #97664c;
}

.radio-switch:focus ~ .radio-switch-toggle {
	background-color: #97664c;
	border: 1px solid #97664c;
}

.radio-switch:checked ~ .radio-switch-label:nth-of-type(1) {
	color: #fff;
}

.radio-switch:checked ~ .radio-switch-label:nth-of-type(2) {
	color: #916e5b;
}

.radio-switch ~ :checked ~ .radio-switch-label:nth-of-type(1) {
	color: #916e5b;
}

.radio-switch ~ :checked ~ .radio-switch-label:nth-of-type(2) {
	color: #fff;
}

.radio-switch:checked ~ .radio-switch-toggle {
	-webkit-transform: translateX(-0.1em);
	    -ms-transform: translateX(-0.1em);
	        transform: translateX(-0.1em);
}

.radio-switch ~ :checked ~ .radio-switch-toggle {
	-webkit-transform: translateX(3.1em);
	    -ms-transform: translateX(3.1em);
	        transform: translateX(3.1em);
}

.radio-switch:checked {
	z-index: 0;
}

.spinner-horizontal {
	max-width: 20em;
	margin: 0 0 5em 0;
}

.spinner-horizontal:after {
	clear: both;
	content: "";
	display: table;
}

.spinner-horizontal-label {
	display: block;
	text-align: center;
	width: 100%;
}

.btn-spinner {
	display: block;
	padding: 1.1em 1.1em;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background: #180f0b;
	-webkit-transition: background 0.4s ease;
	        transition: background 0.4s ease;
}

.btn-spinner:hover,
.btn-spinner:focus,
.btn-spinner:active {
	background: #20120a;
}

.btn-spinner-left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn-spinner-right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*
.spinner-wrapper {

     position:relative;
     display:block;
     border-radius:0;

     &:after {
        content: "";
        position:absolute;
        width:1em;
        height:2em;
        display:block;
        right:0em;
        top:25%;
        
        z-index:1;
        background:#fff;
    }
}
*/

.spinner-input {
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
	background: none;
	border: none;
	background: #fff;
	padding: 1.1em 1em 1.05em 1em;
	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	border-radius: none;
	width: 100%;
}

.spinner-horizontal-list li {
	float: left;
	list-style: none;
}

.spinner-horizontal-list li:nth-of-type(1) {
	width: 30%;
}

.spinner-horizontal-list li:nth-of-type(2) {
	width: 40%;
}

.spinner-horizontal-list li:nth-of-type(3) {
	width: 30%;
}

.spinner-vertical {
	max-width: 5em;
}

.spinner-vertical-list li {
	width: 100%;
	list-style: none;
}

.spinner-vertical-label {
	display: block;
	text-align: center;
	width: 100%;
}

.vertical-spinner-input {
	border-radius: 0;
	background: none;
	border: none;
	background: #fff;
	padding: 1.5em 1em 1.5em 1em;
	text-align: center;
	font-size: 1em;
	width: 100%;
}

.vertical-spinner-input:hover,
.vertical-spinner-input:focus,
.vertical-spinner-input:active {
	font-size: 1em;
}

.btn-vertical-spinner {
	text-align: center;
	padding: 1em;
	width: 100%;
	text-decoration: none;
	color: #fff;
	background: #180f0b;
	display: block;
	-webkit-transition: background 0.4s ease;
	        transition: background 0.4s ease;
}

.btn-vertical-spinner:hover,
.btn-vertical-spinner:focus,
.btn-vertical-spinner:active {
	background: #20120a;
}

.btn-vertical-spinner-top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.btn-vertical-spinner-bottom {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*
.spinner-vertical-wrapper {
	position:relative;
	&:after {
		content: "";
		position:absolute;
		width:1.25em;
		height:1em;
		display:block;
		background: #fff;
		right:-1.9em;
		top:38%;
	}
}
*/

.radio-fieldset {
	border: none;
}

.segmented-control {
	padding: 0;
}

.segmented-control li {
	float: left;
	list-style: none;
}

.segmented-control li {
	width: 33.33%;
}

.segmented-control-label {
	font-family: 'Lato', sans-serif;
}

.segment-switch-label {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
	padding: 0.5em 0.75em;
	width: 100%;
	display: block;
	background: #eee;
	border-top: 1px solid #180f0b;
	border-bottom: 1px solid #180f0b;
	color: #111;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background 0.4s ease, color 0.4s ease;
	        transition: background 0.4s ease, color 0.4s ease;
}

.segment-switch-label:hover,
.segment-switch-label:focus,
.segment-switch-label:active {
	background: #20120a;
	color: #fff;
}

.segment-switch-input {
	position: absolute;
	visibility: none;
	opacity: 0;
	left: -9999px;
}

.segment-start .segment-switch-label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid #180f0b;
}

.segment-end .segment-switch-label {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 1px solid #180f0b;
}

.segmented-control input[type="radio"]:checked + label {
	background: #180f0b;
	color: #fff;
	border-color: #20120a;
}

.segmented-control input[type="radio"]:active + label {
	color: #79472b;
}

.segmented-control input[type="radio"]:focus + label {
	color: #79472b;
}

.password-switcher input::-ms-clear,
.password-switcher input::-ms-reveal {
	display: none;
}

.password-wrapper {
	margin: 1.5em 0 0 0;
	position: relative;
}

.password-input {
	width: 100%;
	border: none;
	background: none;
	padding: 1em 3em 1em 1em;
	font-size: 1em;
	background: #fff;
}

.password-input:hover,
.password-input:focus,
.password-input:active {
	font-size: 1em;
}

.btn-password-switch {
	display: block;
	width: 3.25em;
	height: 3.25em;
	position: absolute;
	right: 0;
	background: url("../img/icon_view.svg") no-repeat 0 50%;
	top: 0;
}

.btn-password-switch:hover {
	background-position: -41px 50%;
}

.btn-password-switch.is-active {
	background-position: -41px 50%;
}

.select-box-wrapper {
	position: relative;
}

.select-full-wrapper.is-hidden {
	opacity: 0;
	display: none;
}

.select-full-wrapper.is-visible {
	display: block;
	opacity: 1;
}

.select-full-item {
	display: block;
	padding: 1.6em;
	color: #000;
	background: #fff url("../img/arrow_down.svg") no-repeat 97% 50%;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.select-full-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #eee;
	top: 0;
	left: 0;
	z-index: 999;
	overflow-y: scroll;
}

.select-full-list li {
	width: 100%;
	padding: 1.5em;
	cursor: pointer;
	display: block;
	text-align: center;
	font-size: 1.5em;
	background: #eee;
	color: #000;
}

.select-full-list li:hover {
	background: #ddd;
}

body {
	background: #291C15;
	color: #fff;
	font-family: "effra",sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 1em 0 0.5em 0;
}

form {
	margin: 1em 0 1em 0;
}

label {
	margin: 0 0 1em 0;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.1;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

p {
	margin: 0 0 1em 0;
}

.container {
	margin: 0 auto;
	padding: 1em;
	max-width: 650px;
}

.display-touch {
	background: #fff;
	padding: 1em;
	font-size: 1.1em;
	border: 1px solid #ddd;
	color: #333;
}

@media screen and (-ms-high-contrast: active) {

.select-box-wrapper select { /* All high contrast styling rules */
	width: 100%;
}

.select-box-wrapper-svg select { /* All high contrast styling rules */
	width: 100%;
}

}

@media screen and (-ms-high-contrast: black-on-white) {

.select-box-wrapper select {
	width: 100%;
}

.select-box-wrapper-svg select {
	width: 100%;
}

}

@media screen and (-ms-high-contrast: white-on-black) {

.select-box-wrapper select {
	width: 100%;
}

.select-box-wrapper-svg select {
	width: 100%;
}

}

@media all and (min-width: 40em) {

.spinner-input {
	padding: 1.1em 1em 1.05em 1em;
}

.segment-switch-label {
	padding: 0.75em;
}

}

