.t-neutral .select-box-svg__inner {
	background-color: #eee;
}

.t-neutral .select-box-svg__inner select option {
	color: #111;
}

.t-neutral .select-box-svg__inner select {
	color: #697070;
}

.t-neutral .select-box-svg__inner select:active,
.t-neutral .select-box-svg__inner select:focus {
	background-color: rgba(249, 241, 155, 0.5);
}

.t-neutral .icon--arrow .icon__box {
	fill: #222;
}

.t-neutral .icon--arrow .icon__caret {
	fill: #fff;
}

.select-box-svg__inner input::-ms-clear,
.select-box-svg__inner input::-ms-reveal {
	display: none;
}

.select-box-svg__label {
	display: block;
	margin: 1em 0 0.5em;
	color: #555;
}

.select-box-svg__inner {
	border: none;
	border-radius: 5px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1em;
	margin: 0;
	overflow: hidden;
	position: relative;
	-webkit-transition: background-color 0.4s ease-in-out;
	        transition: background-color 0.4s ease-in-out;
	width: 100%;
}

.select-box-svg__inner:hover,
.select-box-svg__inner:focus,
.select-box-svg__inner:active {
	cursor: pointer;
}

.icon--arrow {
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	padding: 0;
}

.select-box-svg__inner select option {
	display: block;
	line-height: 1.5;
	font-size: 1em;
	border: none;
}

.select-box-svg__inner select {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border-color: none;
	background-image: none;
	border: none;
	box-shadow: none;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	padding: 16px;
	display: block;
	-webkit-transition: background 0.4s ease;
	        transition: background 0.4s ease;
}

.select-box-svg__inner select:hover {
	cursor: pointer;
}

.select-box-svg__label ~ .select-box-svg__inner select {
	width: 115%;
}

.high-contrast-mode .select-box-svg__inner select {
	width: 100%;
}

@media screen and (-ms-high-contrast: active) {

.select-box-svg__inner select { /* All high contrast styling rules */
	width: 100%;
}

}

@media screen and (-ms-high-contrast: black-on-white) {

.select-box-svg__inner select {
	width: 100%;
}

}

@media screen and (-ms-high-contrast: white-on-black) {

.select-box-svg__inner select {
	width: 100%;
}

}

