//Card module

.card {
    border-radius: 5px;
    padding: 1em;
}

.card__heading {

    margin: 0 0 1em 0;
    font-weight: 700;
    line-height: 1.2;

}

.card__link {
    margin:1em 0 0 0;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    padding: 0.75em 1em;
    text-align: center;
    transition: background 300ms ease;
}

//flexbox modifiers for the card module
.flexbox .card--flex {
    display:flex;
    flex-direction:column;
    width:100%;
}
.flexbox .card--flex .card__description {
    display:flex;
    flex:1;
}

//themes for the card module
.t-neutral .card {
     background: #fff;
      color:#222;
}

.t-neutral .card__link {
    background: #222;
    color: #fff;
    &:hover {
        background: #444;
    }

}

