.card {
    background: #fff;
    border-radius: 5px;
    padding: 1em;
    color:#371805;
}
.card-heading {

    margin: 0 0 1em 0;
    font-weight: 700;
    line-height: 1.2;

}
.card-description {

}
.card-status {

}
.card-link {
    border-radius: 5px;
    display: block;
    background: #371805;
    text-decoration: none;
    color: #fff;
    padding: 0.75em 1em;
    text-align: center;
    transition: background 300ms ease;
    &:hover {
        background: #5f2d0f;
    }
}
.form-component {

}
.form-listitem {
    margin:0 0 1em 0;
}