
.t-grey-white .card-link {
    background: #222;
    color: #fff;
    &:hover {
        background: #444;
    }

}
.t-grey-white .card {
     background: #fff;
      color:#222;
}

.card {
    border-radius: 5px;
    padding: 1em;
}
.card-heading {

    margin: 0 0 1em 0;
    font-weight: 700;
    line-height: 1.2;

}


.card-link {
    margin:1em 0 0 0;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    padding: 0.75em 1em;
    text-align: center;
    transition: background 300ms ease;
}
.form-component {

}
.form-listitem {
    margin:0 0 1em 0;
}