// Components module
// : Lists the built components in the project

.components {
    max-width:1000px;
    margin:0 auto;

}

.flexbox .components__list--flex {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.flexbox .components__list--flex .components__list-item {
     display: flex;
}
.components__list-item {

   float:left;
    margin:0 0 1em 0;

}
.components__list-item:nth-child(4n+1){
    clear:left;
}