.container {

    margin: 0 auto;
    padding:1em;
    max-width: 1000px;

}
.l-contained-1000 {
    max-width: 1000px;
}

.l-width-25 {
     width: 100%;
    @media all and (min-width: 40em){
        width: 50%;
    }
    @media all and (min-width: 60em){
         width: 25%;
    }
}