//password switcher

.password-label {

}
.password-wrapper {
	margin:1.5em 0 0 0;
	position:relative;
}
.password-input {
	width:100%;
	border:none;
	background:none;
	padding:1em;
	font-size:1em;
	background:#fff;

	&:hover, &:focus, &:active {
		font-size:1em;

	}

}
.btn-password-switch {

	display:block;
	width:2em;
	height:2em;
	background:#f0f;
	position:absolute;
	right:0;
	top:0;

}