//password switcher
.password-switcher input::-ms-clear,
.password-switcher input::-ms-reveal {
    display:none;
}

.password-wrapper {
	margin:1.5em 0 0 0;
	position:relative;
}
.password-input {
	width:100%;
	border:none;
	background:none;
	padding:1em 3em 1em 1em;
	font-size:1em;
	background:#fff;
	&:hover, &:focus, &:active {
		font-size:1em;

	}

}
.btn-password-switch {

	display:block;
	width:28px;
	height:36px;
	position:absolute;
	right:0;
	background: url("../img/icon_view.svg") no-repeat 0 50%;
	top:0; //can't be 50% because of IE8

	&:hover {
		background-position: -41px 50%;
	}

}
//is revealing
.btn-password-switch.is-active {
	background-position: -41px 50%;
}
