//radio switch
$toggleSize: 3.5em;

.radio-container {
    background-color: #fff;
    border-radius: 4em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    height: 3.5em;
    margin: 0em 0 0 3em;
    position: relative;
    width: 6em;
}
.radio-container:after {
    clear: both;
    content: "";
    display: table;
}
//switch label
.radio-switch-label {
    color: #fff;
    position: absolute;
    top: 0;
    cursor: pointer;
    display: block;
    padding: 1em;
   // background: #f0f;
}
.radio-label-left {
    left: -60%;
    text-align: right;
}
.radio-label-right {
    right: -60%;
    text-align: left;
}

//toggle
.radio-switch-toggle {
    background: #333;
    border: 1px solid #333;
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    height: 3.5em;
    position: absolute;
    transform: translateX(0);
    transition: transform 0.2s ease, background 0.4s ease;
    width: 3.5em;
    z-index: 1;
}

.radio-switch {

    bottom: 0;
    cursor: pointer;
    height: 4em;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 7em;
    z-index: 2;
    
}
.radio-switch:active ~ .radio-switch-toggle {
	background-color: rgba(249, 241, 155, 1);
	border: 1px solid #333;
}
.radio-switch:focus ~ .radio-switch-toggle {
	background-color: rgba(249, 241, 155, 1);
	border: 1px solid #333;
}
.radio-switch:checked ~ .radio-switch-label:nth-of-type(1) {
    color: #fff;
}
.radio-switch:checked ~ .radio-switch-label:nth-of-type(2) {
    color: #333;
}

.radio-switch ~ :checked ~ .radio-switch-label:nth-of-type(1) {
    color: #333;
}
.radio-switch ~ :checked ~ .radio-switch-label:nth-of-type(2) {
    color: #fff;
}

.radio-switch:checked ~ .radio-switch-toggle {
    transform: translateX(0);
}

.radio-switch ~ :checked ~ .radio-switch-toggle {
    transform: translateX(3em);
}

.radio-switch:checked {
    z-index: 0;
}

