//range input

$trackHeight: 2px;
$thumbDimension: 2em;

input[type=range] {
  -webkit-appearance: none;
  //-moz-apperance:none;
  appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
}


input[type="range"]:focus {
 
  outline: 0;
  ///background:red;
  //the focus will make the outline be a square - it's accessible but its ugly.

  
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background-color: rgba(249, 241, 155, 0.5);
}
input[type="range"]:focus::-moz-range-track {
	background-color: rgba(249, 241, 155, 0.5);
}
input[type=range]:focus::-webkit-slider-thumb {
	background-color: rgba(249, 241, 155, 1);
}
input[type=range]:focus::-moz-range-thumb { 
	background-color: rgba(249, 241, 155, 1);
}
input[type=range]:focus::-ms-thumb {
	background-color: rgba(249, 241, 155, 1);
}

.range-label {
	
	margin:1em 0;
	display: block;

}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background-color: #eee;
  border-radius: 15px;
  transition: background 0.3s ease;

}

input[type=range]::-moz-range-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background-color: #eee;
  border-radius: 15px;
  transition: background 0.3s ease;
}

input[type=range]::-ms-track {
  cursor: pointer;
  border-top: 16px;
  border-bottom: 17px;
  border-left: 10px;
  border-right: 10px;
  border-color: transparent;
  border-style: solid;
  height: $trackHeight;
  background: transparent;
  color: transparent;
  transition: background 0.3s ease;
}

//specific to IE things
input[type=range]::-ms-fill-lower {
  background-color: #017AFD;
  border-radius: 15px;
}

input[type=range]:focus::-ms-fill-lower {
  background-color: #017AFD;
}

input[type=range]::-ms-fill-upper {
  background-color: #a9acb1;
  border-radius: 15px;
}

input[type=range]:focus::-ms-fill-upper {
  background-color: #a9acb1;
}

input[type=range]::-ms-tooltip {
  display: none;
}



//Thumbs 
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: $thumbDimension;
  width: $thumbDimension;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
  transition: background 0.3s ease;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  height: $thumbDimension;
  width: $thumbDimension;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background 0.3s ease;
}


/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  height: $thumbDimension;
  width: $thumbDimension;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  border: none;
  margin: 10px;
  transition: background 0.3s ease;
}

