//range input

$trackHeight: 10px;
$thumbDimension: 2em;
$msThumbDimension: $thumbDimension;
$webkitThumbPosition: -10px;
$trackBgColor: #eee;
$trackHilightColor: rgba(249, 241, 155, 0.5);
$trackHilightThumbColor: rgba(249, 241, 155, 1);

//$trackBorderRadius: 15px;
$trackBorderRadius: 5px;

.form-range input[type="range"] {
  -webkit-appearance: none;
  //-moz-apperance:none;
 
  font-size:1em;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
 
  border-radius:$trackBorderRadius;
  /* Specific width is required for Firefox. */
}

@media all {
  .form-range input[type="range"] {
     appearance: none;
  }
}


.form-range input[type="range"]:focus {
 
  outline: 0;
  //the focus will make the outline be a square - it's accessible but its ugly. 
  //our replacement focus feedback is below

  
}
.form-range input[type="range"]:focus::-webkit-slider-runnable-track {
	background-color: $trackHilightColor;
}
.form-range input[type="range"]:focus::-moz-range-track {
	background-color: $trackHilightColor;
}
.form-range input[type="range"]:focus::-webkit-slider-thumb {
	background-color: $trackHilightThumbColor;
}
.form-range input[type="range"]:focus::-moz-range-thumb { 
	background-color: $trackHilightThumbColor;
}
.form-range input[type="range"]:focus::-ms-thumb {
	background-color: $trackHilightThumbColor;
}

.form-range input[type="range"]:hover::-moz-range-thumb {
  height: $thumbDimension;
  width: $thumbDimension;
}
.form-range input[type="range"]:focus::-moz-range-thumb {
  height: $thumbDimension;
  width: $thumbDimension;
}
.form-range input[type="range"]:hover::-moz-range-track {
  height: $trackHeight;

}
.range-label {
	
	margin:1em 0;
	display: block;

}
//fallback for IE8/9 when range is a text input
.form-range input[type="text"] {

  background:#fff;

}

.form-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background-color: $trackBgColor;
  border-radius: $trackBorderRadius;
  transition: background 0.3s ease;

}

.form-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background-color: $trackBgColor;
  border-radius: $trackBorderRadius;
  transition: background 0.3s ease;
}

.form-range input[type="range"]::-ms-track {
  cursor: pointer;
  border-top: 16px;
  border-bottom: 17px;
  border-left: 10px;
  border-right: 10px;
  border-color: transparent;
  border-style: solid;
  height: $trackHeight;
  background: transparent;
  color: transparent;
  transition: background 0.3s ease;
}

//specific to IE things
.form-range input[type="range"]::-ms-fill-lower {
  background-color: #017AFD;
  border-radius: $trackBorderRadius;
}

.form-range input[type="range"]:focus::-ms-fill-lower {
  background-color: #017AFD;
}

.form-range input[type="range"]::-ms-fill-upper {
  background-color: #a9acb1;
  border-radius: $trackBorderRadius;
}

.form-range input[type="range"]:focus::-ms-fill-upper {
  background-color: #a9acb1;
}

.form-range input[type="range"]::-ms-tooltip {
  display: none;
}



//Thumbs 
/* Special styling for WebKit/Blink */
.form-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: $thumbDimension;
  width: $thumbDimension;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  margin-top: $webkitThumbPosition;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
  transition: background 0.3s ease;
}

/* All the same stuff for Firefox */
.form-range input[type="range"]::-moz-range-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  height: $thumbDimension;
  width: $thumbDimension;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background 0.3s ease;
}


/* All the same stuff for IE */
.form-range input[type="range"]::-ms-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  height: $msThumbDimension;
  width: $msThumbDimension;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  border: none;
  margin: 10px;
  transition: background 0.3s ease;
}

