//select box
.select-box-wrapper-svg input::-ms-clear, 
.select-box-wrapper-svg input::-ms-reveal {
    display:none;
}

.select-box-label {
	display:block;
	margin:1em 0;
}

//needs to house the select in order to work
.select-box-wrapper-svg {
    background-color:#fff;
    border: none;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: background-color 0.4s ease-in-out;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}

.svg-arrow {
    z-index:1;
    position:absolute;
    right:0;
    bottom:0;
    display:block;
    padding:0;
  
}
.svg-arrow-box {
   fill: #180f0b;
}
.svg-arrow-icon {
    fill:#fff;
}
.no-svg .select-box-wrapper-svg {
   // background-image: url("../img/arrow_down.png");
}
.select-box-wrapper-svg select option {
    display:block;
    color:#111;
   // padding: 0.5em;
    line-height:1.5;
    font-size:1em;
    border:none;
}

.select-box-wrapper-svg select {
    position:relative;
    z-index:2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-color:none;
    background-image: none;
    border: none;
    box-shadow: none;
    color: #697070;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 16px;
   // padding: 1.25em;
    display: block;
    transition: background 0.4s ease;
    width: 115%;
    &:hover {
        cursor: pointer;
    }
    &:active,
    &:focus {
        background-color: rgba(249, 241, 155, 0.5);
    }

    @media screen and (-ms-high-contrast: active) {
     /* All high contrast styling rules */
        width: 100%;
        //appearance: menu-list;
    }
    @media screen and (-ms-high-contrast: black-on-white) {
     width: 100%;
    }
    @media screen and (-ms-high-contrast: white-on-black) {
      width: 100%;
    }
}
//requires a script to detect a change
.high-contrast-mode .select-box-wrapper-svg select {

    width: 100%;
}


