//
// theming variables
//
$selectBoxBgColor: #fff;
$selectBoxTextColor: #697070;
$selectBoxFocusActiveBgColor: rgba(249, 241, 155, 0.5);
$selectBoxOptionTextColor: #111;
$selectBoxArrowBoxBgColor: #180f0b;
$selectBoxArrowColor: #fff;

//
// theming
//

.t-white .select-box-wrapper-svg {
     background-color:$selectBoxBgColor;
}
.t-white .select-box-wrapper-svg select {
    color: $selectBoxTextColor;

    &:active,
    &:focus {
        background-color: $selectBoxFocusActiveBgColor;
    }
}
.t-white .svg-arrow-box {
   fill: $selectBoxArrowBoxBgColor;
}
.t-white .svg-arrow-icon {
    fill: $selectBoxArrowColor;
}
.t-white .select-box-wrapper-svg select option {
    color: $selectBoxOptionTextColor;
}

//
// component
//

.select-box-wrapper-svg input::-ms-clear,
.select-box-wrapper-svg input::-ms-reveal {
    display:none;
}

.select-box-label {
	display:block;
	margin:1em 0;
}

//needs to house the select in order to work
.select-box-wrapper-svg {
    border: none;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: background-color 0.4s ease-in-out;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}

.svg-arrow {
    z-index:1;
    position:absolute;
    right:0;
    bottom:0;
    display:block;
    padding:0;

}


.select-box-wrapper-svg select option {
    display:block;
    line-height:1.5;
    font-size:1em;
    border:none;
}

.select-box-wrapper-svg select {
    position:relative;
    z-index:2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-color:none;
    background-image: none;
    border: none;
    box-shadow: none;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 16px;
    display: block;
    transition: background 0.4s ease;

    &:hover {
        cursor: pointer;
    }

    @media screen and (-ms-high-contrast: active) {
     /* All high contrast styling rules */
        width: 100%;
    }
    @media screen and (-ms-high-contrast: black-on-white) {
     width: 100%;
    }
    @media screen and (-ms-high-contrast: white-on-black) {
      width: 100%;
    }
}
@media all {
    .select-box-wrapper-svg select {
        width: 115%;
    }
}

//requires a script to detect a change
.high-contrast-mode .select-box-wrapper-svg select {

    width: 100%;
}


