//select box
.select-box-wrapper input::-ms-clear, 
.select-box-wrapper input::-ms-reveal {
    display:none;
}

.select-box-label {
	display:block;
	margin:1em 0;
}

//needs to house the select in order to work
.select-box-wrapper {
    background: #fff url("../img/arrow_down.svg") no-repeat 97% 50%;
    border: 1px solid #2a1244;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: background-color 0.4s ease-in-out;
    width: 100%;
    
    &:hover,
    &:focus,
    &:active {
    //    background-color: #fff;
        cursor: pointer;
    }
}
.no-svg .select-box-wrapper {
    background-image: url("../img/arrow_down.png");
}
.select-box-wrapper select option {
    //padding:1em;
    color:#111;
    //background:rgba(255, 255, 255, 0.5);
    //background:#fff;
    padding:0.5em;
    line-height:1.5;
    font-size:1em;
}
.select-box-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: #697070;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 1em;

    transition: background 0.4s ease;

    width: 115%;
    //width:100%;
    &:hover {
        cursor: pointer;
    }
    &:active,
    &:focus {
        background-color: rgba(249, 241, 155, 0.5);
    }
}
