//spinner horizontal theme variables
$spinnerHorizontalBtnColor:#180f0b;
$spinnerHorizontalBtnHover:#20120a;
$spinnerHorizontalBtnRadius: 5px;
$spinnerHoziontalBtnTextColor:#fff;

//layout
.l-grid-60 {
    width:60%;
    float:left;
}
.l-grid-20 {
    width:20%;
    float:left;
}
//theming
.t-brown .btn-spinner {
    background:$spinnerHorizontalBtnColor;
    color:$spinnerHoziontalBtnTextColor;
    &:hover,
    &:focus,
    &:active {
        background: $spinnerHorizontalBtnHover;
    }
}
.t-brown .spinner-input {
    background:#fff;
}

.spinner-horizontal:after {
    clear:both;
    content: "";
    display: table;
}
.spinner-horizontal {
    max-width:20em;
    margin:0 0 5em 0;
}

.spinner-horizontal-label {
    display:block;
    text-align:center;
    width:100%;
}

.btn-spinner {
    display:block;
    padding:1.1em 1em 1.15em;
    font-size:1em;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    transition: background 0.4s ease;
    cursor:pointer;
}
.btn-spinner-left {

    border-top-left-radius:$spinnerHorizontalBtnRadius;
    border-bottom-left-radius:$spinnerHorizontalBtnRadius;
}
.btn-spinner-right {

    border-top-right-radius:$spinnerHorizontalBtnRadius;
    border-bottom-right-radius:$spinnerHorizontalBtnRadius;
}

.spinner-input {
    border-radius:0;
    -webkit-border-radius:0; // attempting to remove the borders
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    box-sizing:border-box;
    background: none;
    border: none;
    padding:1em 1em 1.05em 1em;
    text-align:center;
    font-size:1em;
    line-height:1.5;
    border-radius:none;
    display:block;

     @media all and (min-width:40em){
         padding:1.1em 1em 1.05em 1em;
    }

}
